.hamburger {
  height: 30px;
  width: 30px;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.cancel-button {
  background-color: transparent;
  border: 2px black solid;
  color: black;
  height: 30px;
  width: 70px;
}
.confirm-button {
  border: none;
  background-color: blue;
  color: white;
  height: 30px;
  width: 70px;
}
